header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: start;
}
.MuiStack-root{
    cursor: pointer;
}
.css-11xur9t-MuiPaper-root-MuiTableContainer-root{
    margin: 2em;
    width: auto !important;
    background-color: #0ee9303b !important;
}

